/* CSS Document */
/* Test Commit */

.body{
	text-align:center;
	background-position: top center;
	background-attachment: fixed;
	text-align: center;
}

div{
	text-align: center;
}

table{
 text-align: center;	
}

.h2{
	text-align:center;	
}
.tableh2
{
	text-align:left;
}