/* CSS Document */
/* Test Commit */

.body{
	text-align:center;
	background: url(../../background.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-position: top center;
	background-attachment: fixed;
	text-align: center;
}

div{
	text-align: center;
}

table{
 text-align: center;	
}

.h2{
	text-align:center;	
}